@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #e4e6eb;
    scroll-behavior: smooth;
}
.sidebar{
    position: fixed;
    margin-top: 3rem;
    top: 0;
    left: 0;
    height: calc(100% - 3rem);
    width: 17rem;
    background: linear-gradient(172deg, rgba(80, 16, 162, 0.90) 0%, rgba(71, 77, 183, 0.82) 50.52%, #3AA5D5 100%);
    box-shadow: 5px 0px 45px -21px rgba(0,0,0,1);
    -webkit-box-shadow: 5px 0px 45px -21px rgba(0,0,0,1);
    -moz-box-shadow: 5px 0px 45px -21px rgba(0,0,0,1);
    z-index: 100;
    transition: all 0.5s ease;
    border-radius: 0 0 10px 0;
}
.sidebar.close{
    width: 80px;
}
.navbar .logo-details{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}
.navbar .logo-details .Logo{
    width: 30px;
    line-height: 20px;
    margin-left: 10px;
}
.navbar .logo-details .logo_name{
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    padding-left: 10px;
    transition: 0.3s ease;
    transition-delay: 0.1s;
}
.sidebar .nav-list{
    transition: 0.4s all smooth ease;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow-y: hidden;
    overflow-x: hidden;
}
.sidebar .nav-list:hover{
    transition: 0.4s all smooth ease;
    overflow-y: auto;
}
.sidebar.close .nav-list{
    overflow: visible;
}
.sidebar .nav-list::-webkit-scrollbar{
    transition: 0.4s all smooth ease;
    scrollbar-width: 10px;
    scrollbar-color: #8f54a0 #ffffff;
    width: 10px;
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
    z-index: 1;
}
.sidebar .nav-list::-webkit-scrollbar-track {
    background: lightgray;
    border-radius: 10px;
}
.sidebar .nav-list::-webkit-scrollbar-thumb {
    background-color: gray;
    border: 2px solid lightgray;
    border-radius: 10px;
}
.sidebar .nav-list li{
    white-space: nowrap;
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}
.sidebar .nav-list li:hover{
    background: #3F1179;
}
.sidebar .nav-list li .dropdown{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.sidebar.close .nav-list li .dropdown{
    display: block
  }
.sidebar .nav-list li i{
    height: 50px;
    min-width: 60px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 15px;
    transition: all 0.3s ease;
    cursor: pointer;
    transition: all 0.3s ease;
    padding-bottom: 10px;
}
.sidebar .nav-list li.showMenu i.arrow{
    transform: rotate(-180deg);
}
.sidebar.close .nav-list i.arrow{
    display: none;
  }
.sidebar .nav-list li a{
    padding-left: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.sidebar .nav-list li a .links_name{
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    transform: all 0.4s ease;
}
.sidebar.close .nav-list li a .links_name{
    opacity: 0;
    pointer-events: none;
}
.sidebar .nav-list li .submenu{
    padding: 10px 10px 20px 70px;
    background: #3F1179;
    display: none;
    transition: all 0.4s ease;
}
.sidebar .nav-list li.showMenu .submenu{
    display: block;
}
.sidebar .nav-list li .submenu a{
    color: #fff;
    font-size: 12px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.4s ease;
}
.sidebar .nav-list li .submenu a:hover{
    opacity: 1;
}
.sidebar.close .nav-list li .submenu{
    position: absolute;
    left: 100%;
    top: -10;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    transition: all 0.4s ease;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
}
.sidebar.close .nav-list li:hover .submenu{
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}
.sidebar .nav-list li .submenu .links_name{
    display: none;
}
.sidebar.close .nav-list li .submenu .links_name{
    font-size: 14px;
    color: #fff;
    opacity: 1;
    display: block;
}
.sidebar .nav-list li .submenu.blank{
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}
.sidebar .nav-list li:hover .submenu.blank{
    top: 10%;
    transform: translate(-10%);
}
.sidebar .profile-details{
    box-shadow: 0px -2px 148px 14px rgba(80,16,162,0.29) inset;
    -webkit-box-shadow: 0px -2px 148px 14px rgba(80,16,162,0.29) inset;
    -moz-box-shadow: 0px -2px 148px 14px rgba(80,16,162,0.29) inset;
    position: fixed;
    bottom: 0;
    display: flex;
    width: 17rem;
    align-items: center;
    background: #3AA5D5;
    justify-content: space-between;
    padding: 5px 10px 10px 0;
    transition: all 0.5s ease;
    border-radius: 0 0 10px 0;
}
.sidebar.close .profile-details{
    width: 80px;
    background: none;
    box-shadow: none;
}
.sidebar .profile-details .profile-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar .profile-details img{
    box-shadow: 0px -2px 148px 14px rgba(80,16,162,0.29) inset;
    -webkit-box-shadow: 0px -2px 148px 14px rgba(80,16,162,0.29) inset;
    -moz-box-shadow: 0px -2px 148px 14px rgba(80,16,162,0.29) inset;
    height: 52px;
    width: 52px;
    object-fit: cover;
    margin-left: 20px;
    border-radius: 15px;
    background: #3AA5D5;
    padding: 5px;
    transition: all 0.5s ease;
}
.sidebar.close .profile-details img{
    padding: 2px;
    margin-left: 14px;
}
.sidebar .profile-details img:hover,
.sidebar.close .profile-details img:hover{
    box-shadow: none;
    background: #f7d994;
    cursor: pointer;
    zoom: 1;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    transition: all 0.4 smooth ease;
}
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job,
.sidebar.close .profile-details .bx-log-out{
    opacity: 0;
    transition: all 0.4 ease;
}
.sidebar .profile-details .job{
    font-size: 12px;
}
.navbar{
    background: rgb(80, 16, 162);
    box-shadow: -1px 11px 74px -20px rgba(0,0,0,1);
    -webkit-box-shadow: -1px 11px 74px -20px rgba(0,0,0,1);
    -moz-box-shadow: -1px 11px 74px -20px rgba(0,0,0,1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 3rem;
    transition: 0.3s all smooth ease;
    border-radius: 0 0 10px 0;
    font-size: 14px;
}
.navbar .logo-details .bx-menu{
    color: #ffffff;
    border-radius: 10px;
    font-size: 18px;
    margin-left: 25px;
    padding: 7px;
    cursor: pointer;
}
.navbar .logo-details .bx-menu:hover{
    background: #3F1179;
    transition: 0.3s all ease;
}
.navbar .logo-details a{
    display: flex;
    cursor: pointer;
    text-transform: none;
}
.navbar .date-time{
    position: relative;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-inline-start: auto;
}
.navbar .date-time .display-date,
.navbar .date-time .display-time{
    margin: 0 0 0 15px;
}
.navbar .notif{
    margin-inline-start: auto;
    cursor: pointer;
    z-index: 999;
}
.navbar .notif span{
    background: #f00;
    padding: 7px;
    border-radius: 20px;
    color: #fff;
    margin-left: -25px;
}
.navbar .notif img{
    display: inline-block;
    width: 70px;
    margin-top: 20px;
}
.navbar .notif:hover{
    opacity: .7;
}
.navbar .notif-box{
    width: 300px;
    height: 0px;
    opacity: 0;
    top: 63px;
    right: 35px;
    background: #fff;
    overflow: auto;
    position: absolute;
    margin-bottom: 50px;
    border-radius: 10px;
}
.navbar .notif-box h2{
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid #999;
    color: #000;
}
.navbar .notif-box h2 span{
    color: #f00;
    padding-left: 10px;
}
.navbar .notif-box h2,
.navbar .notif-box span{
    background: white;
    width: 300px;
    position: fixed;
}
.navbar .notif-item img{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
    width: 50px;
}
.navbar .notif-item{
    border-bottom: 1px solid #999;
    display: flex;
    padding-left: 10px;
}
.navbar .notif-item .notif-text{
    padding-left: 10px;
}
.navbar .notif-item .notif-text h4{
    color: #777;
    font-size: 16px;
    margin-top: 10px;
}
.navbar .notif-item .notif-text p{
    color: #000;
    font-size: 12px;
}
.navbar .notif:hover{
    color: #f7d994;
}
.navbar .profile{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.navbar .profile img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    border: 5px solid rgb(95, 27, 184);
    border-radius: 50%;
    transition: all 0.5 smooth ease;
    cursor: pointer;
}
.navbar .profile:hover img{
    position: relative;
    width: 30px;
    border: 2px solid #f7d994;
    transition: all 0.5 smooth ease;
}
.navbar .profile .text{
    margin-left: 10px;
    margin-right: 10px;
}
.navbar .profile:hover .text,
.navbar .profile:hover i{
    cursor: pointer;
    color: #f7d994;
}
.home-section{
    position: relative;
    height: calc(100% - 3rem);
    left: 17rem;
    width: calc(100% - 17rem);
    transition: all 0.5s ease;
}
.sidebar.close ~ .home-section{
    left: 80px;
    width: calc(100% - 80px);
}
.home-section .home-content{
    margin-top: 3.5rem;
    padding-left: 1.5rem;
    height: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    -webkit-box-shadow: -10px 50px 150px -50px rgba(0,0,0,0.5);
    -moz-box-shadow: -10px 50px 150px -50px rgba(0,0,0,0.5);
    box-shadow: -10px 50px 150px -50px rgba(0,0,0,0.5);
}
.home-section .home-content .text{
    position: fixed;
    width: 100%;
    padding: 14px;
    margin-left: -24px;
    background: white;
    font-size: 24px;
    font-weight: bolder;
    z-index: 1;
}
.home-section .home-content .text:hover{
    color: linear-gradient(172deg, rgba(80, 16, 162, 0.90) 0%, rgba(71, 77, 183, 0.82) 50.52%, #3AA5D5 100%);
}
.blk{
    background: #3F1179;
    color: #000;
}
.navbar .notif .bx-bell{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 50%;
}
.navbar .notif .bx-bell:hover{
    cursor: pointer;
}
.navbar .notif .bx-bell:active{
    color: #f7d994;
}
/* .navbar .notif .badge{
    position: absolute;
    background: red;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    font-weight: bolder;
    padding: 3px;
    border-radius: 50px;
} */
.home-section .grid-db{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: baseline;
    top: 1rem;
    z-index: 0;
    padding-left: .5rem;
    padding-right: .5rem;
    margin-left: .5rem;
    margin-right: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    border-radius: 25px;
}
.home-section .grid-db article{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 250px;
    margin: 20px;
    padding: 20px;
    background: #fff;
    border: 3px solid white;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.5 smooth ease;
}
.home-section .grid-db .widget1:hover{
    transition: all 0.5 smooth ease;
    color: #fff;
    background: #3F1179;
    border: solid #3F1179;
}
.home-section .grid-db .widget2:hover{
    transition: all 0.5 smooth ease;
    color: #fff;
    background: rgb(95, 27, 184);
    border: solid rgb(95, 27, 184);
}
.home-section .grid-db .widget3:hover{
    transition: all 0.5 smooth ease;
    color: #fff;
    background: rgb(71, 77, 183);
    border: solid rgb(71, 77, 183);
}
.home-section .grid-db .widget4:hover{
    transition: all 0.5 smooth ease;
    color: #fff;
    background: #3AA5D5;
    border: solid #3AA5D5;
}
.home-section .grid-db article .num{
    font-size: 22px;
    font-weight: bolder;
    padding-left: 10px;
    padding-right: 10px;
}
.home-section .grid-db article .art-text{
    font-size: 14px;
    font-weight: bolder;
}
.home-section .appointment-list{
    width: 60%;
}
.home-section .appointment-list .appointment-txt{
    font-weight: bolder;
    margin-top: 40px;
    margin-left: 30px;
    margin-bottom: 10px;
    padding: 10px;
}
.home-section .appointment-list .theader{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bolder;
    color: #696868;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.home-section .appointment-list .theader .theader1,
.home-section .appointment-list .theader .theader2,
.home-section .appointment-list .theader .theader3{
    margin-right: 20%;
}
.home-section .appointment-list .patientcard1{
    width: 100%;
    display: flex;
    background: #fff;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    margin-left: 30px;
    padding: 10px;
    border-radius: 5px;
    border-left: 5px solid #f00;
}
.home-section .appointment-list .patientcard1 .patientdetails img,
.home-section .appointment-list .patientcard1 .doctordetails img{
    position: absolute;
    border: 1px solid black;
    width: 40px;
    border-radius: 50%;
    margin-left: 7.25px;
}
.home-section .appointment-list .patientcard1 .patientdetails .patienttxt,
.home-section .appointment-list .patientcard1 .datedetails,
.home-section .appointment-list .patientcard1 .doctordetails .doctortxt{
    display: flex;
    flex-direction: column;
    margin-left: 62.75px;
}
.home-section .appointment-list .patientcard1 .patientdetails .patientname,
.home-section .appointment-list .patientcard1 .datedetails .date,
.home-section .appointment-list .patientcard1 .doctordetails .doctorname{
    font-size: 14px;
    font-weight: bold;
}
.home-section .appointment-list .patientcard1 .doctordetails{
    margin-left: 80px;
}
.home-section .appointment-list .patientcard1 .patientdetails .contactno,
.home-section .appointment-list .patientcard1 .datedetails .time,
.home-section .appointment-list .patientcard1 .doctordetails .specialization{
    font-size: 12px;
    font-weight: bold;
    color: #999;
}
.home-section .appointment-list .patientcard1 .bx-chevron-right{
    display: flex;
    font-size: 30px;
    margin-left: 60px;
}
.home-section .doctorsavailable{
    display: grid;
    grid-template-columns: 70% auto;
    grid-gap: 2rem;
    position: absolute;
    width: 30%;
}
.home-section .doctorsavailable .doctorsavtxt{
    z-index: 999;
    font-weight: bolder;
}
.home-section .doctorsavailable .doctorsavlist{
    display: flex;
}
.home-section .doctorsavailable .doctorsavlist .dacard .dadetails img{
    width: 40px;

}
footer{
    margin-top: 70px;
    padding: 15px;
    text-align: center;
    font-size: 8px;
    z-index: 99;
}
  @media (max-width: 350px) {
    .sidebar.close .nav-list li .submenu{
      display: none;
    }
    .sidebar{
      width: 80px;
    }
    .sidebar.close{
      width: 0;
    }
    .home-section{
      left: 80px;
      width: calc(100% - 80px);
      z-index: 100;
    }
    .sidebar.close ~ .home-section{
      width: 100%;
      left: 0;
    }
    .home-section .home-content{
        zoom: 80%;
    }
    .home-content .home-content .grid-db{
        font-size: small;
        width: 20px;
        zoom: 50%;
        box-sizing: border-box;
    }
  }
  @media (min-width: 768px){

  }
/* 
    TO-DO-LIST (Sidebar)
    1. only arrow is the way to dropdown list.
    2. responsive feature is not enabled when in smaller devices.
    3. hovers, actives, and focus of buttons are messy.
    4. transition are not uniform.
    6. profile content is not available yet.
*/